<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2143,0},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3065,0},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3065,922},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3065,1844},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2143,2142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2143,2142}</string>
				<key>spriteSourceSize</key>
				<string>{2143,2142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{2143,2142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2143,922},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2143,1844},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2142},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{922,2142},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1844,2766},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2766,2766},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,3064},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{922,922}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{922,922}</string>
				<key>spriteSourceSize</key>
				<string>{922,922}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{922,3064},{922,922}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>loader.png</string>
				<key>textureFileName</key>
				<string>loader</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
